<article class="concert_info">
  <h3>
    <%= @concert.band + " @ " + @concert.venue %>
  </h3>
  <p>
    <strong>Where?</strong> <%= @concert.city %><br>
    <strong>When?</strong> <%= @concert.date.strftime("%d/%m/%Y") %><br>
    <strong>How much?</strong> <%= @concert.price.to_s %> €<br>
    <strong>Description:</strong> <%= @concert.description %>
  </p>
</article>

<% if @concert.comments.any? %>
  <section>
    <article class="comment">
      <h3>Comments:</h3>
      <% @concert.comments.each do |comment| %>
          <blockquote>
            <p><%= comment.text %></p>
          </blockquote>
      <% end %>
    </article>
  </section>
<% end %>
